body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: black;
}

code {
  font-family: Nunito, sans-serif;
}

.z0 {
  z-index: 0;
}

.z-1 {
  z-index: -1;
}

.z-2 {
  z-index: -2;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

.color-white {
  color: white;
}
.color-black {
  color: black;
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-25 {
  width: 25%;
}

.font-large {
  font-size: large;
}

.font-larger {
  font-size: larger;
}

.font-small {
  font-size: small;
}

.font-smaller {
  font-size: smaller;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/* Margins */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-5 {
  margin-left: 3rem;
}

/* Padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}

/* Specific margin and padding */
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}

/* Display */
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-grid {
  display: grid !important;
}

/* Flexbox */
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

/* Positioning */
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: sticky !important;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

/* Widths */
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.333%;
}
.w-50 {
  width: 50%;
}
.w-66 {
  width: 66.666%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}

/* Heights */
.h-25 {
  height: 25%;
}
.h-33 {
  height: 33.333%;
}
.h-50 {
  height: 50%;
}
.h-66 {
  height: 66.666%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}

/* Font sizes */
.font-xs {
  font-size: 0.75rem;
}
.font-sm {
  font-size: 0.875rem;
}
.font-md {
  font-size: 1rem;
}
.font-lg {
  font-size: 1.25rem;
}
.font-xs {
  font-size: 1.5rem;
}
.font-xxl {
  font-size: 2rem;
}

/* Font weights */
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}

/* Text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* Text transformation */
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

/* Text decoration */
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-no-decoration {
  text-decoration: none;
}

/* Borders */
.border {
  border: 1px solid #000;
}
.border-top {
  border-top: 1px solid #000;
}
.border-right {
  border-right: 1px solid #000;
}
.border-bottom {
  border-bottom: 1px solid #000;
}
.border-left {
  border-left: 1px solid #000;
}
.border-none {
  border: none;
}

/* Border colors */
.border-primary {
  border-color: var(--primary-color);
}
.border-secondary {
  border-color: var(--secondary-color);
}

/* Border radius */
.rounded {
  border-radius: 0.25rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.rounded-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.rounded-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* Opacity */
.opacity-0 {
  opacity: 0;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-100 {
  opacity: 1;
}

/* Visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* Cursors */
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-wait {
  cursor: wait;
}
.cursor-text {
  cursor: text;
}

/* Box shadows */
.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.shadow-none {
  box-shadow: none;
}

/* Outline */
.outline-none {
  outline: none;
}
.outline {
  outline: 1px solid #000;
}
.outline-primary {
  outline: 1px solid var(--primary-color);
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}

/* Flex Direction */
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

/* Align Items */
.align-start {
  align-items: flex-start !important;
}
.align-center {
  align-items: center !important;
}
.align-end {
  align-items: flex-end !important;
}
.align-stretch {
  align-items: stretch !important;
}
.align-baseline {
  align-items: baseline !important;
}

/* Align Content */
.align-content-start {
  align-content: flex-start !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: flex-end !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-around {
  align-content: space-around !important;
}

/* Align Self */
.align-self-start {
  align-self: flex-start !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
.align-self-baseline {
  align-self: baseline !important;
}

/* Justify Items */
.justify-items-start {
  justify-items: start !important;
}
.justify-items-center {
  justify-items: center !important;
}
.justify-items-end {
  justify-items: end !important;
}
.justify-items-stretch {
  justify-items: stretch !important;
}

/* Align Items */
.align-items-start {
  align-items: start !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-stretch {
  align-items: stretch !important;
}

/* Justify Content */
.justify-content-start {
  justify-content: start !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}

/* Align Content */
.align-content-start {
  align-content: start !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: end !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-stretch {
  align-content: stretch !important;
}

.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}

/* color data */

.color-yellow {
  color: yellow;
}

.color-orange {
  color: orange;
}

/* Customize the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #07070700;
  border-radius: 10px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 10px;
  border: 3px solid #242424; /* Adds padding around the thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}

/* {
    "id": 1469305,
    "hash": "a017ac9bf02de9e36f1f9177bdb60612186b0b0d",
    "filename": "Game.of.Thrones.S01E10.2160p.UHD.BluRay.x265-SCOTLUHD[eztv.io].mkv",
    "torrent_url": "https://zoink.ch/mirror/Game of Thrones S01E10 2160p UHD BluRay x265-SCOTLUHD [eztv.io] [alt].torrent",
    "magnet_url": "magnet:?xt=urn:btih:a017ac9bf02de9e36f1f9177bdb60612186b0b0d&dn=Game.of.Thrones.S01E10.2160p.UHD.BluRay.x265-SCOTLUHD%5Beztv%5D&tr=udp://tracker.opentrackr.org:1337/announce&tr=udp://9.rarbg.me:2970/announce&tr=udp://p4p.arenabg.com:1337/announce&tr=udp://tracker.torrent.eu.org:451/announce&tr=udp://tracker.dler.org:6969/announce&tr=udp://open.stealth.si:80/announce&tr=udp://ipv4.tracker.harry.lu:80/announce&tr=https://opentracker.i2p.rocks:443/announce",
    "title": "Game of Thrones S01E10 2160p UHD BluRay x265-SCOTLUHD EZTV",
    "imdb_id": "0944947",
    "season": "1",
    "episode": "10",
    "small_screenshot": "//ezimg.ch/thumbs/game-of-thrones-s01e10-2160p-uhd-bluray-x265-scotluhd-small.jpg",
    "large_screenshot": "//ezimg.ch/thumbs/game-of-thrones-s01e10-2160p-uhd-bluray-x265-scotluhd-large.jpg",
    "seeds": 13,
    "peers": 2,
    "date_released_unix": 1594711151,
    "size_bytes": "10387327388"
} */

/* Define the fade-in and slide-in animations */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation classes */
.fade-slide-up {
  animation: fadeInSlideUp 1s forwards;
}

.fade-slide-down {
  animation: fadeInSlideDown 1s forwards;
}

.button-active {
  background-color: grey;
}
